body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 1;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 50px;
    margin-right: 0;
   
}

.cardone {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
    margin: 0;
    gap: 80px;

}

#Lion {
    flex-shrink: 1;
    
}

.maintext {
    font-size: 30px;
    font-weight: 800;
    color: #F9FAF8;

}

.leftone,
.rightone {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #E5E7EB;
    width: 30%;
}

.rightone {
    display: flex;
    flex-shrink: 1;
}



nav ul {
    display: flex;
    gap: 14px;
   }

ul {
    list-style-type: none;
    margin-right: 45px;
    margin-left: 0;
   }

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 4px 14px 4px 14px;
    width: 80px;
}

h3 {
    font-size: 30px;
    font-weight: 800px;
}

.cardtwo {
    text-align: center;
}

.picbox {
    display: flex;
    justify-content: space-evenly;
}

#Rigby, #Rigby2, #Rigby3,#Rigby4 {
    border-radius: 10px;
    border: solid #3882F6;
}

.phototext {
    width: 150px;
}

.cardthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.meow { 
    margin-top: 36px;
    width: 450px;
    font-size: 22px;
    font-style: light italic;
}

.quote {
    margin-bottom: 30px;
    font-weight: 800;
}

.cardfour {
    display: flex;
    justify-content: center;
    
}

.bigbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #3882F6;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 20px;
    border-radius: 10px;
    width: 600px;

}

#click {
    margin-top: 0;
}





footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    min-height: 60px;
}