body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
   
}

.cardone {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

.maintext {
    font-size: 30px;
    font-weight: 800;
    color: #F9FAF8;

}

.leftone,
.rightone {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #E5E7EB;
    width: 30%;
}



nav ul {
    display: flex;
    gap: 14px;
   }

ul {
    list-style-type: none;
   }

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 4px 14px 4px 14px;
    width: 80px;
}